/.project
/.settings/
/Aeroporto_Core/.classpath
/Aeroporto_Core/.settings/org.eclipse.core.resources.prefs
/Aeroporto_Model/target/test-classes/br/com/usjt/aeroporto/AppTest.class
/Aeroporto_Core/.project
/Aeroporto_Core/.settings/org.eclipse.jdt.core.prefs
/Aeroporto_Core/.settings/org.eclipse.m2e.core.prefs
/Aeroporto_Core/.settings/org.eclipse.wst.common.component
/Aeroporto_Core/.settings/org.eclipse.wst.common.project.facet.core.xml
/Aeroporto_Core/.settings/org.hibernate.eclipse.console.prefs
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/dao/AeronaveDAO.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/dao/AeronaveDAOImpl.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/dao/GenericDAO.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/dao/GenericDAOImpl.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/dao/UsuarioDAO.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/dao/UsuarioDAOImpl.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Aeronave.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/FormaTratamento.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Grupo.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Pagamento.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Passageiro.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Passagem.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/TipoPassageiro.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Usuario.class
/Aeroporto_Core/target/classes/br/com/usjt/aeroporto/entity/Voo.class
/Aeroporto_Core/target/classes/META-INF/MANIFEST.MF
/Aeroporto_Core/target/classes/META-INF/maven/br.com.usjt.aeroporto/Aeroporto_Core/pom.properties
/Aeroporto_Core/target/classes/META-INF/maven/br.com.usjt.aeroporto/Aeroporto_Core/pom.xml
/Aeroporto_Core/target/classes/META-INF/spring-persistence.xml
/Aeroporto_Core/target/test-classes/br/com/usjt/aeroporto/AppTest.class
/Aeroporto_Model/.classpath
/Aeroporto_Model/.project
/Aeroporto_Model/.settings/org.eclipse.core.resources.prefs
/Aeroporto_Model/.settings/org.eclipse.jdt.core.prefs
/Aeroporto_Model/.settings/org.eclipse.m2e.core.prefs
/Aeroporto_Model/.settings/org.eclipse.wst.common.component
/Aeroporto_Model/.settings/org.eclipse.wst.common.project.facet.core.xml
/Aeroporto_Model/.settings/org.hibernate.eclipse.console.prefs
/Aeroporto_Model/target/classes/br/com/usjt/aeroporto/service/AeronaveService.class
/Aeroporto_Model/target/classes/META-INF/MANIFEST.MF
/Aeroporto_Model/target/classes/META-INF/maven/br.com.usjt.aeroporto/Aeroporto_Model/pom.properties
/Aeroporto_Model/target/classes/META-INF/maven/br.com.usjt.aeroporto/Aeroporto_Model/pom.xml
/Aeroporto_Web/.classpath
/Aeroporto_Web/.project
/Aeroporto_Web/.settings/
/Aeroporto_Web/target/